.calendar {
  display: grid;
  grid-template-columns: repeat(7, 5rem); 
  gap: 0.25rem;
  background-color: #f2f2f2;
  padding: 1rem;
  border-radius: 8px;
  width: fit-content;
  margin: auto;
}

.days {
  height: 2.5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  border: 1px solid #ccc;
  font-weight: 600;
}

.date {
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 16px;
  font-weight: 500;
}

.week {
  display: contents;
}

.navbar {
  display: flex;
  justify-content: space-around;
  height: 50px;
  margin-bottom: 2rem;
}


/*
.calendar {
  min-height: 400px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    max-height: 50px;
    margin-bottom: 2rem;
}

.date{
  height: 5rem;
  width: 5rem;
  display: flex;
  background-color:#fff;
  border: 1px solid #ddd;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}

.days{
  height: 2rem;
  width: 5rem;
  display: flex;
  background-color:#fff;
  border: 1px solid #ddd;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}

*/