.calendar {
  min-height: 400px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    max-height: 50px;
    margin-bottom: 2rem;
}