.calendar {
  min-height: 400px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    max-height: 50px;
    margin-bottom: 2rem;
}

.date{
  height: 5rem;
  width: 5rem;
  display: flex;
  background-color:#fff;
  border: 1px solid #ddd;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}